// Import font
@import url(https://use.typekit.net/znh6lde.css);

*{
    transition: all .2s ease;
    font-family: "futura-pt", sans-serif;

}

body{
    background: #eae1d3;
}

h1, h2, h3, h4, h5, h6{
    font-family: "futura-pt", sans-serif;
    color: #212529;
}

p{
    font-family: "futura-pt", sans-serif;
}

a, li{
    font-family: "futura-pt", sans-serif;
}

// Forms
.form-group{
    margin-bottom: 20px;

    label{
        font-weight: 400;
        font-size: 1.2em;
        display: block;
    }

    input[type='text'], input[type='email'], textarea{
        border: 1px solid #000;
        border-radius: 0px;
        padding: 10px 15px;
        font-size: 1.2em;
        font-weight: 400;
        width: 100%;
        border-radius: 5px;
    }

    textarea{
        height: 200px;
        resize: none;
    }

    input[type='submit']{
        border: 1px solid #000;
        border-radius: 0px;
        padding: 10px 15px;
        font-size: 1.2em;
        font-weight: 400;
        width: 100%;
        border-radius: 5px;
        background: #000;
        color: white;
    }
}

// General
h3.featured{
    color: #000;
    font-size: 1.5em;
    font-weight: 400;

    background: white;
    border-radius: 22px;
    line-height: 20px;
    padding: 10px 15px;

}

.line{
    border-bottom: 3px solid #000;
    width: 100%;
}

.scrolling-callout{
    padding-top: 20px;
    padding-bottom: 50px;

    h1{
        font-size: 5em;
        font-weight: 100;
        color: #212529;
    }
}

// Hide scrolling text on mobile
.scrolling-callout{
    @media screen and (max-width: 768px){
        display: none;
    }
}

// Buttons
.lc-btn{
    border: 2px solid #000;
    font-size: 1.4vw;
    font-weight: bold;

    letter-spacing: .2vw;

    border-radius: 50px;

    height: 3.8vw;
    width: 12.4vw;

    padding: 15px 25px;

    text-decoration: none;

    color: #000;

    @media screen and (max-width: 768px){
        font-size: 4vw
    }

}

.lc-btn:hover{
    color: white;
    background: #000;
}

// Header
.website-header{

    .website-header-inner{
        padding: 25px;
        padding-left: 20px;
        .row{

            .website-header-desc{
                text-align: right;

                @media screen and (max-width: 768px){
                    display: none;
                }

                p{
                    font-weight: bold;
                    font-size: 1.3em;

                    color: #000;
                    padding-top: 15px;
                }
            }

            .website-header-branding{

                h2{
                    @media screen and (max-width: 768px){
                        text-align: center;
                    }

                    padding: 0px;
                    margin: 0px;

                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 1.4em;

                        color: #000;

                        img{
                            width:55px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .website-header-navigation{

                .header-navigation-main{

                    ul{
                        margin: 0px;
                        padding: 0px;

                        float: right;

                        @media screen and (max-width: 768px){
                            padding-top: 30px;
                            float: none;
                            text-align: center;
                        }

                        padding-top: 10px;

                        li{
                            display: inline-block;
                            margin-left: 25px;

                            border-bottom: 1px solid #000;

                            a{
                                @media screen and (max-width: 768px){
                                    font-size: 1.2em;
                                }

                                font-size: 1.3em;
                                font-weight: bold;

                                text-decoration: none;

                                color: #000;

                                sub{
                                    @media screen and (max-width: 768px){
                                        display: none;
                                    }
                                    margin-top: -30px
                                }
                            }
                        }

                        li:first-child{
                            margin-left: 0px;
                        }

                        li:hover{
                            border-bottom: 4px solid #000;

                            a{

                            }
                        }

                    }
                }
            }
        }
    }
}

// Footer
.website-footer{
    padding-bottom: 50px;
    padding-top: 50px;

    .footer-inner{

        .footer-branding{
            text-align: center;

            h1{
                @media screen and (max-width: 768px){
                    font-size: 2em
                }
                font-size: 5em;

                .word-one{
                    font-weight: bold
                }

                .word-two{
                    font-weight: 100;
                }
            }

            p{
                font-weight: bold;
                margin-top:-10px;
            }
        }

        .footer-links{
            padding-top: 20px;
            padding-bottom: 20px;

            ul{
                text-align: center;
                padding: 0px;
                margin: 0px;

                li{
                    display: inline-block;
                    margin-right: 25px;

                    a{
                        @media screen and (max-width: 768px){
                            font-size: 1.3em;
                        }

                        font-size:1.6em;
                        font-weight: 400;

                        color: #000;
                        text-decoration: none;
                    }
                }

                li:last-child{
                    margin-right: 0px;
                }

            }
        }

        .footer-credits{

            p{
                text-align: center;
                font-size: 1.2em;
                font-weight: 400;

                color: #000;
            }
        }
    }    
}

// Index
.welcome{
    padding: 20px 0px;

    .welcome-container{

        .intro{
            @media screen and (max-width: 768px){
                text-align: center;

                padding-top: 1.5vh;
                padding-bottom: 2.5vh;
            }

            padding-top: 10vh;
            padding-bottom: 10vh;

            .intro-inner{
                
                .intro-title{
                    @media screen and (max-width: 768px){
                        padding: 25px;
                        text-align: center;
                    }
                    
                    h1{
                        @media screen and (max-width: 768px){
                            font-size: 2.9em;
                            text-align: center;
                            letter-spacing: 8px;
                        }

                        font-size:10em;
                        font-weight: 600;

                        letter-spacing: 30px;

                        color: #000;

                        padding: 0px;
                        margin: 0px;
                    }

                    h1.intro-title-second{
                        @media screen and (max-width: 768px){
                            margin: 0px;
                        }
                        margin-top: -40px
                    }
                }

                .intro-desc{
                    padding: 15px;

                    p{
                        @media screen and (max-width: 768px){
                            font-size: 2em;
                            line-height: 35px;
                        }
                        font-size:4em;
                        line-height: 60px
                    }
                }

                .intro-action{
                    padding: 20px;
                }
            }
        }

        .welcome-mission{
            padding: 20px;

            padding-bottom: 10vh;

            @media screen and (max-width: 768px){
                padding-top: 3vh;
                padding-bottom: 3vh;
            }

            h2{
                font-size: 5em;
                font-weight: 600;

                color: #000;
            }

            p{
                font-size: 2em;
                font-weight: 400;

                color: #000;
            }

            .welcome-information{
                padding-top: 50px;

                .welcome-information-block{

                    .welcome-information-block-inner{

                        h2{
                            font-size:1.8em;
                            font-weight: 600;
                        }

                        p{
                            padding-top: 10px;
                            font-size: 1.5em;
                            font-weight: 400;

                            line-height: 30px
                        }
                    }
                }
            }
        }
    }
}

// About
.about-us-page{

    .about-us-page-inner{

        .about-us-page-main{

            .about-us-page-main-inner{
                padding: 0px;

                .about-us-page-main-row{
                    padding: 0px;

                    .about-us-page-main-left{

                        .about-us-page-main-left-inner{
                            padding:10px;
                            padding-top: 50px;

                            @media screen and (max-width: 768px){
                                padding: 30px;

                                padding-bottom: 0px;
                                padding-top: 10px;
                            }

                            h2{
                                @media screen and (max-width: 768px){
                                    font-size: 2.5em;
                                    font-weight: bold;
                                }
                                font-size: 3em;
                                font-weight: 600;

                                color: #000;
                            }

                            .outline-block{
                                padding-bottom: 30px;

                                h2{
                                    font-size:2em;
                                    font-weight:400
                                }

                                ul{
                                    padding: 0px;
                                    margin: 0px;

                                    li{
                                        list-style: none;
    
                                        a{
                                            color: #000;
                                            font-size: 1.1em;
    
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .about-us-page-main-right{
                        padding: 20px;

                        @media screen and (max-width: 768px){
                            padding:40px;
                            padding-top: 0px;
                            padding-bottom: 0px;
                        }

                        .about-us-page-main-right-inner{
                            padding-top: 30px;
                            
                            .upper-quote{

                                h1{
                                    font-weight:600
                                }
                            }

                            .bottom-our-story{
                                padding-top: 20px;

                                p{
                                    font-size: 1.4em;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .about-us-page-welcome{
            @media screen and (max-width: 989px)
            {
                padding: 20px;
                width: 100%;
            }

            padding-bottom: 50px;

            .welcome-upper{
                padding-top: 50px;

                h1{
                    @media screen and (max-width: 768px){
                        font-size:3em;
                        text-align: center;
                        letter-spacing: 10px;

                        font-weight: bold;
                    }

                    font-size: 9em;
                    font-weight: 400;

                    letter-spacing: 30px;

                    color: #000;

                    padding: 0px;
                    margin: 0px;
                }
            }

            .welcome-lower{
                @media screen and (max-width: 768px){
                    padding: 20px;
                }

                p{
                    @media screen and (max-width: 768px){
                        font-size: 1.8em;
                        line-height: 35px;
                    }
                    font-size: 2em;
                    font-weight: 400;

                    line-height: 35px;

                    color: #000;
                }
            }
        }
    }
}

// Work
.work-page{

    .work-page-inner{

        .work-welcome{
            padding-bottom: 50px;

            .welcome-upper{
                padding-top: 50px;

                h1{
                    @media screen and (max-width: 768px){
                        font-size:3em;
                        text-align: center;
                        letter-spacing: 10px;

                        font-weight: bold;
                    }
                    font-size: 9em;
                    font-weight: 400;

                    letter-spacing: 30px;

                    color: #000;

                    padding: 0px;
                    margin: 0px;
                }
            }

            .welcome-lower{
                @media screen and (max-width: 768px){
                    padding: 20px;
                    padding-bottom: 0px;
                }

                p{
                    @media screen and (max-width: 768px){
                        font-size: 1.8em;
                        line-height: 35px;
                        
                        text-align: center;
                    }
                    font-size: 2em;
                    font-weight: 400;

                    line-height: 35px;

                    color: #000;
                }
            }
        }

        .work-page-main{

            .work-page-main-inner{
                padding-bottom: 50px;

                .work-page-main-row{

                    .work-page-main-left{
                        @media screen and (max-width: 768px){
                            padding-bottom: 50px;
                        }

                        .work-page-linear-case{
                            background-size: cover;
                            height: 600px;

                            border-radius: 18px;

                            background-repeat: no-repeat;

                            a{
                                text-decoration: none
                            }

                            .work-page-linear-case-inner{
                                background: rgba(0,0,0,.3);
                                height: 100%;
                                width: 100%;

                                border-radius: 18px;

                                padding: 30px;

                                position: relative;

                                cursor: pointer;

                                .top-category{

                                    h3.featured{
                                        color: white;
                                        font-size: 1.5em;
                                        font-weight: bold;

                                        padding-bottom: 5px;
                                    }

                                    ul{
                                        padding: 0px;
                                        margin: 0px;

                                        li{
                                            color: white;
                                            list-style: none;

                                            font-size:1.2em;
                                            font-weight: bold;

                                            padding-bottom: 5px;
                                        }
                                    }
                                }

                                .bottom-title{
                                    padding-top: 20px;

                                    position: absolute;
                                    bottom: 20px;

                                    h2{
                                        color: white;
                                        font-size: 2.7em;
                                        font-weight: 400;
                                    }

                                    p{
                                        color: white;
                                        font-size: 1.5em;

                                        line-height: 25px;
                                    }

                                    a{
                                        color: white;
                                        font-size: 1.5em;

                                        line-height: 25px;
                                    }
                                }
                            }
                        }

                        .case-one{
                            
                        }
                    }

                    .work-page-main-right{

                        .work-page-horizontal-case{
                            background-size: cover;
                            height: 400px;

                            border-radius: 18px;

                            background-repeat: no-repeat;

                            margin-bottom: 50px;

                            a{
                                text-decoration: none

                            }

                            .work-page-horizontal-case-inner{
                                background: rgba(0,0,0,.4);
                                height: 100%;
                                width: 100%;

                                border-radius: 18px;

                                padding: 30px;

                                position: relative;

                                cursor: pointer;

                                .top-category{

                                    ul{
                                        padding: 0px;
                                        margin: 0px;

                                        li{
                                            color: white;
                                            list-style: none;

                                            font-size:1.2em;
                                            font-weight: bold;

                                            padding-bottom: 5px;
                                        }
                                    }
                                }

                                .bottom-title{
                                    padding-top: 20px;

                                    position: absolute;
                                    bottom: 20px;

                                    h2{
                                        color: white;
                                        font-size: 2.7em;
                                        font-weight: 400;
                                    }

                                    p{
                                        color: white;
                                        font-size: 1.5em;

                                        line-height: 25px;
                                    }

                                    a{
                                        color: white;
                                        font-size: 1.5em;

                                        line-height: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#main_package{
    width: 100%;
}

.case-studies{

    .case-studies-inner{

        .case-studies-title{
            padding-top: 50px;

            @media screen and (max-width: 768px){
                padding: 25px;
                text-align: center;
                padding-left: 10px;
            }
            
            h1{
                @media screen and (max-width: 768px){
                    font-size: 5em;
                    font-weight: 600;

                    color: #000;
                    text-align: left;
                }

                font-size:5em;
                font-weight: 600;

                color: #000;

                padding: 0px;
                margin: 0px;
            }
        }

        .case-studies-desc{

            p{
                font-size: 2em;
                font-weight: 400;
                color: #000;
            }
        }

        .case-studies-grid{

            .case-studies-grid-inner{
                padding-top: 50px;
                padding-bottom: 50px;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: left;
                gap: 0px;

                .case-studies-grid-item{
                    @media screen and (max-width: 768px){
                        flex-basis: 100%;
                    }

                    flex-basis: 50%;
                    background: white;
                    background-size:cover;

                    height: 300px;

                    cursor: pointer;

                    .case-studies-grid-item-inner{
                       // background: rgba(0,0,0,.3);

                        .case-studies-grid-item-title{
                            padding-bottom: 20px;

                            // Put the title at the bottom of the parent div
                            margin-top: 196px;

                            background: rgba(0,0,0,.6);

                            padding: 20px;

                            h3{
                                font-size: 2.1em;
                                font-weight: 500;

                                color: #fff;

                                margin: 0px;
                                padding: 0px;
                            }

                            a{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.packages-inner{
    padding-top: 50px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom: 50px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.package{
    flex-basis: 32%;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: white;
    border-radius: 5px;

    .package-inner{

        .package-price{
            padding-bottom: 20px;

            h2{
                font-size: 2.5em;
                font-weight: 400;

                color: #000;
            }
        }

        .package-title{
            padding-bottom: 5px;

            h3{
                font-size: 1.5em;
                font-weight: 400;

                color: #000;
            }
        }

        .package-desc{

            p{
                font-size: 1.0em;
                font-weight: 600;

                line-height: 15px;

                color: #333;
            }
        }

        .package-items{
            border-top: 1px solid #aaa;

            ul{
                padding: 15px;

                li{
                    font-size: 1.0em;
                    font-weight: 500;

                    line-height: 20px;

                    color: #333;
                }
            }
        }

        .package-action{

            a{
                display: inline-block;
                width: 100%;

                border-radius: 5px;
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}